Repository htmlhint/HTMLHint, changes with the labels that .github/labeler.yml gives for each.
All labels: test, dependencies, documentation, automation, core, cli

.github/labeler.yml:

# labels auto assigned to PR, keep in sync with labels.yml
test:
  - changed-files:
      - any-glob-to-any-file:
          - test/**/*.spec.*
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - package-lock.json
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/**.md'
          - website/
automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/
core:
  - changed-files:
      - any-glob-to-any-file:
          - src/core/
cli:
  - changed-files:
      - any-glob-to-any-file:
          - src/cli/

Update README.md
  README.md
Labels: documentation

Update README.md (#1526)
  README.md
Labels: documentation

Rebuild Dist
  dist/core/rules/spec-char-escape.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  package-lock.json
  package.json
Labels: dependencies

Fix timeout issue
  test/cli/formatters/compact.spec.js
  test/cli/formatters/default.spec.js
Labels: test

Timeout fix
  test/cli/formatters/default.spec.js
  test/cli/formatters/unix.spec.js
Labels: test

fix: Rebuild Dist (#1527)
  dist/core/rules/spec-char-escape.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  package-lock.json
  package.json
  test/cli/formatters/compact.spec.js
  test/cli/formatters/default.spec.js
  test/cli/formatters/unix.spec.js
Labels: test, dependencies

Update Node Versions Supported (18.20.22)
  .github/dependabot.yml
  .github/workflows/development.yml
  .github/workflows/production.yml
  .nvmrc
  package-lock.json
  package.json
Labels: dependencies

Update Node Versions Supported (18.20.22) (#1530)
  .github/dependabot.yml
  .github/workflows/development.yml
  .github/workflows/production.yml
  .nvmrc
  package-lock.json
  package.json
Labels: dependencies

Docs: typo fix dupplicate > duplicate
  .cspell.json
  CHANGELOG.md
Labels: documentation

feat: tsconfig - forceConsistentCasingInFileNames
  tsconfig.json
Labels: none

Docs: typo fix dupplicate > duplicate (#1531)
  .cspell.json
  CHANGELOG.md
Labels: documentation

feat: tsconfig - forceConsistentCasingInFileNames (#1532)
  tsconfig.json
Labels: none

chore(deps): bump prettier from 2.8.8 to 3.5.3
  package-lock.json
  package.json
  src/core/htmlparser.ts
Labels: dependencies

update: eslint-plugin-prettier
  dist/core/htmlparser.js
  package-lock.json
  package.json
Labels: dependencies

chore(deps): bump prettier from 2.8.8 to 3.5.3 (#1533)
  dist/core/htmlparser.js
  package-lock.json
  package.json
  src/core/htmlparser.ts
Labels: dependencies

feat(attr-sort): sort unknown attributes alphabetically
  dist/core/rules/attr-sorted.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  src/core/rules/attr-sorted.ts
  test/rules/attr-sorted.spec.js
Labels: test

Fix failing test
  test/rules/attr-sorted.spec.js
Labels: test

feat(attr-sort): sort unknown attributes alphabetically (#668)
  dist/core/rules/attr-sorted.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  src/core/rules/attr-sorted.ts
  test/rules/attr-sorted.spec.js
Labels: test

fix(tag-pair): point tag-pair error message to correct line and column number
  src/core/rules/tag-pair.ts
  test/rules/tag-pair.spec.js
Labels: test

Update /dist/
  dist/core/rules/tag-pair.js
  dist/htmlhint.js
  dist/htmlhint.min.js
Labels: none

fix(tag-pair): point tag-pair error message to correct line and colum… (#1503)
  dist/core/rules/tag-pair.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  src/core/rules/tag-pair.ts
  test/rules/tag-pair.spec.js
Labels: test
