Repository htmlhint/HTMLHint, pull requests merged in 2018-09, with the labels that each got.

#216 Pass options.global as predef arg to JSHINT
  src/rules/jshint.js
Labels: #status: evaluating 🤔, type: enhancement ✨

#285 fix: update the check for root htmlhintrc
  bin/htmlhint
Labels: #status: accepted 👍, type: bug 🐛

#287 chore(htmlhint) feature/add commitizen package, husky and prettier
  .prettierignore
  .prettierrc.json
  .travis.yml
  CHANGELOG.md
  commitizen.config.js
  commitlint.config.js
  package-lock.json
  package.json
  parser-preset.js
Labels: type: enhancement ✨

#294 refactor(htmlhint): add semantic release
  .travis.yml
  package.json
Labels: #status: accepted 👍, type: enhancement ✨

#284 Move jshint and csslint to optionalDependencies
  package.json
Labels: #status: accepted 👍, type: enhancement ✨

#188 Adding support for a white list of elements that can be lower case.
  src/rules/tagname-lowercase.js
Labels: #status: dev in progress ⏳, type: enhancement ✨
