Repository htmlhint/HTMLHint, pull requests merged in 2020-06, with the labels that each got.

#449 chore: update glob types
  src/cli/htmlhint.ts
Labels: chore

#443 fix: windows path separator
  src/cli/htmlhint.ts
  test/cli/formatters/checkstyle.spec.js
  test/cli/formatters/compact.spec.js
  test/cli/formatters/html.spec.js
  test/cli/formatters/unix.spec.js
Labels: bug

#475 refactor: use `path.sep` simplify #443
  src/cli/htmlhint.ts
Labels: enhancement
