Repository htmlhint/HTMLHint, pull requests merged in 2020-05, with the labels that each got.

#368 docs: add stale config
  .github/stale.yml
Labels: type: documentation 📄

#369 feat: add ci github action
  .github/workflows/ci.yml
  .travis.yml
Labels: type: enhancement ✨

#159 feat: input-requires-label - All inputs require a label
  src/rules/index.js
  src/rules/input-requires-label.js
  test/rules/input-requires-label.spec.js
Labels: accepted

#390 chore: improve code readability
  bin/formatter.js
  bin/formatters/checkstyle.js
  bin/formatters/compact.js
  bin/formatters/default.js
  bin/formatters/html.js
  bin/formatters/json.js
  bin/formatters/junit.js
  bin/formatters/markdown.js
  bin/formatters/unix.js
  bin/htmlhint
  src/core.js
  src/htmlparser.js
  src/reporter.js
  src/rules/alt-require.js
  src/rules/attr-lowercase.js
  src/rules/attr-no-duplication.js
  src/rules/attr-no-unnecessary-whitespace.js
  src/rules/attr-sorted.js
  src/rules/attr-unsafe-chars.js
  src/rules/attr-value-double-quotes.js
  src/rules/attr-value-not-empty.js
  src/rules/attr-value-single-quotes.js
  src/rules/attr-whitespace.js
  src/rules/doctype-first.js
  src/rules/doctype-html5.js
  src/rules/head-script-disabled.js
  src/rules/href-abs-or-rel.js
  src/rules/id-class-ad-disabled.js
  src/rules/id-class-value.js
  src/rules/id-unique.js
  src/rules/inline-script-disabled.js
  src/rules/inline-style-disabled.js
  src/rules/space-tab-mixed-disabled.js
  src/rules/spec-char-escape.js
  src/rules/src-not-empty.js
  src/rules/style-disabled.js
  src/rules/tag-pair.js
  src/rules/tag-self-close.js
  src/rules/tagname-lowercase.js
  src/rules/tagname-specialchars.js
  src/rules/tags-check.js
  src/rules/title-require.js
Labels: chore

#389 chore: use new labels in stale bot configuration
  .github/stale.yml
Labels: chore

#392 chore: add lint rule one-var:never
  .eslintrc.js
  src/core.js
  src/htmlparser.js
  src/reporter.js
  src/rules/alt-require.js
  src/rules/attr-lowercase.js
  src/rules/attr-no-unnecessary-whitespace.js
  src/rules/attr-unsafe-chars.js
  src/rules/attr-value-double-quotes.js
  src/rules/attr-value-not-empty.js
  src/rules/attr-value-single-quotes.js
  src/rules/attr-whitespace.js
  src/rules/id-class-value.js
  src/rules/id-unique.js
  src/rules/input-requires-label.js
  src/rules/spec-char-escape.js
  src/rules/src-not-empty.js
  src/rules/tag-pair.js
  test/rules/attr-no-unnecessary-whitespace.js
  test/rules/id-class-value.spec.js
  test/rules/script-disabled.spec.js
  test/rules/spec-char-escape.spec.js
  test/rules/tags-check.spec.js
Labels: chore

#399 fix: add semantic release test
  .github/workflows/test-release.yml
  package-lock.json
  package.json
Labels: chore

#405 fix(attr-no-unnecessary-whitespace): fix when equals symbol in value
  src/rules/attr-no-unnecessary-whitespace.js
  test/rules/attr-no-unnecessary-whitespace.spec.js
Labels: bug

#407 fix: dupplicate ga
  website/docusaurus.config.js
Labels: bug

#398 chore: modernize code / prefer-template
  .eslintrc.js
  bin/formatters/checkstyle.js
  bin/formatters/default.js
  bin/formatters/html.js
  bin/formatters/junit.js
  bin/formatters/markdown.js
  bin/formatters/unix.js
  bin/htmlhint
  src/core.js
  src/reporter.js
  src/rules/alt-require.js
  src/rules/attr-lowercase.js
  src/rules/attr-no-duplication.js
  src/rules/attr-no-unnecessary-whitespace.js
  src/rules/attr-sorted.js
  src/rules/attr-unsafe-chars.js
  src/rules/attr-value-double-quotes.js
  src/rules/attr-value-not-empty.js
  src/rules/attr-value-single-quotes.js
  src/rules/attr-whitespace.js
  src/rules/href-abs-or-rel.js
  src/rules/id-class-ad-disabled.js
  src/rules/id-unique.js
  src/rules/inline-script-disabled.js
  src/rules/inline-style-disabled.js
  src/rules/space-tab-mixed-disabled.js
  src/rules/spec-char-escape.js
  src/rules/src-not-empty.js
  src/rules/tag-pair.js
  src/rules/tag-self-close.js
  src/rules/tagname-lowercase.js
  src/rules/tagname-specialchars.js
  src/rules/tags-check.js
  test/rules/attr-no-unnecessary-whitespace.spec.js
  test/rules/attr-value-single-quotes.spec.js
  test/rules/id-class-value.spec.js
  test/rules/script-disabled.spec.js
  test/rules/spec-char-escape.spec.js
  test/rules/tags-check.spec.js
Labels: chore

#409 fix: correctly call hint queue drain
  bin/htmlhint
  test/executable.spec.js
Labels: bug

#394 chore: modernize code / no-var
  .eslintrc.js
  bin/formatter.js
  bin/formatters/checkstyle.js
  bin/formatters/compact.js
  bin/formatters/default.js
  bin/formatters/html.js
  bin/formatters/json.js
  bin/formatters/junit.js
  bin/formatters/markdown.js
  bin/formatters/unix.js
  bin/htmlhint
  src/core.js
  src/htmlparser.js
  src/reporter.js
  src/rules/alt-require.js
  src/rules/attr-lowercase.js
  src/rules/attr-no-duplication.js
  src/rules/attr-no-unnecessary-whitespace.js
  src/rules/attr-sorted.js
  src/rules/attr-unsafe-chars.js
  src/rules/attr-value-double-quotes.js
  src/rules/attr-value-not-empty.js
  src/rules/attr-value-single-quotes.js
  src/rules/attr-whitespace.js
  src/rules/doctype-first.js
  src/rules/doctype-html5.js
  src/rules/head-script-disabled.js
  src/rules/href-abs-or-rel.js
  src/rules/id-class-ad-disabled.js
  src/rules/id-class-value.js
  src/rules/id-unique.js
  src/rules/inline-script-disabled.js
  src/rules/inline-style-disabled.js
  src/rules/input-requires-label.js
  src/rules/space-tab-mixed-disabled.js
  src/rules/spec-char-escape.js
  src/rules/src-not-empty.js
  src/rules/tag-pair.js
  src/rules/tag-self-close.js
  src/rules/tagname-lowercase.js
  src/rules/tagname-specialchars.js
  src/rules/tags-check.js
  src/rules/title-require.js
  test/rules/attr-no-unnecessary-whitespace.spec.js
  test/rules/attr-value-single-quotes.spec.js
  test/rules/attr-whitespace.spec.js
  test/rules/id-class-value.spec.js
  test/rules/input-requires-label.spec.js
  test/rules/script-disabled.spec.js
  test/rules/spec-char-escape.spec.js
  test/rules/tagname-specialchars.spec.js
  test/rules/tags-check.spec.js
Labels: chore

#412 chore: update ci workflow
  .github/workflows/ci.yml
Labels: chore

#413 fix: fix url repo pkg
  package.json
  website/docusaurus.config.js
Labels: bug, documentation

#424 docs: replaced wiki links with htmlhint.com links
  README.md
Labels: documentation

#411 docs: remove deadlink from README
  README.md
Labels: documentation, evaluating

#425 fix: add missing branches to action release
  .github/workflows/release.yml
Labels: bug

#423 refactor: migrate to TypeScript (runtime code changes)
  .eslintrc.js
  .prettierignore
  build-windows.bat
  package.json
  src/bin/formatter.ts
  src/bin/formatters/checkstyle.ts
  src/bin/formatters/compact.ts
  src/bin/formatters/default.ts
  src/bin/formatters/html.ts
  src/bin/formatters/junit.ts
  src/bin/formatters/unix.ts
  src/bin/htmlhint.ts
  src/core/core.ts
  src/core/htmlparser.ts
  src/core/reporter.ts
  src/core/rules/attr-no-unnecessary-whitespace.ts
  src/core/rules/attr-sorted.ts
  src/core/rules/attr-unsafe-chars.ts
  src/core/rules/attr-whitespace.ts
  src/core/rules/id-class-value.ts
  src/core/rules/space-tab-mixed-disabled.ts
  src/core/rules/tags-check.ts
  src/core/types.ts
  test/cli/formatters/checkstyle.spec.js
  test/cli/formatters/checkstyle.xml
  test/cli/formatters/compact.spec.js
  test/cli/formatters/compact.txt
  test/cli/formatters/default.spec.js
  test/cli/formatters/html.html
  test/cli/formatters/html.spec.js
  test/cli/formatters/json.json
  test/cli/formatters/json.spec.js
  test/cli/formatters/junit.spec.js
  test/cli/formatters/markdown.spec.js
  test/cli/formatters/unix.spec.js
  test/cli/formatters/unix.txt
  test/core.spec.js
  test/executable.spec.js
Labels: chore, enhancement

#428 refactor: simplify build and rename bin to cli
  .eslintignore
  .eslintrc.js
  .gitignore
  bin/htmlhint
  build-linux.sh
  build-windows.bat
  package.json
  rollup.config.js
  src/cli/formatter.ts
  src/cli/formatters/checkstyle.ts
  src/cli/formatters/compact.ts
  src/cli/formatters/default.ts
  src/cli/formatters/html.ts
  src/cli/formatters/json.ts
  src/cli/formatters/junit.ts
  src/cli/formatters/markdown.ts
  src/cli/formatters/unix.ts
  src/cli/htmlhint.ts
  tsconfig.cli.json
  tsconfig.core.json
  tsconfig.json
  tsconfig.lint.json
Labels: chore

#430 fix: remove unused dependency esm
  package-lock.json
  package.json
Labels: chore

#387 chore: add coverage codecov
  .github/workflows/ci.yml
  codecov.yml
  package-lock.json
  package.json
Labels: chore

#434 chore: update nyc ts
  package.json
Labels: chore

#435 test: check line by line
  test/cli/formatters/checkstyle.spec.js
  test/cli/formatters/compact.spec.js
  test/cli/formatters/html.spec.js
  test/cli/formatters/json.spec.js
  test/cli/formatters/unix.spec.js
Labels: chore, enhancement

#433 feat: use chalk instead of colors
  package-lock.json
  package.json
  src/cli/formatter.ts
  src/cli/formatters/compact.ts
  src/cli/formatters/default.ts
  src/cli/formatters/unix.ts
  src/cli/htmlhint.ts
Labels: enhancement
