Repository htmlhint/HTMLHint, pull requests merged in 2021-11, with the labels that each got.

#714 fix: tagname-specialchars rule description
  src/core/rules/tagname-specialchars.ts
Labels: core

#719 chore(build): Run matrix on current node releases
  .github/workflows/development.yml
  .github/workflows/production.yml
Labels: automation

#723 chore(build): use caching in setup-node
  .github/workflows/development.yml
  .github/workflows/production.yml
  .github/workflows/test-release.yml
Labels: automation

#724 style: run prettier during lint
  .github/dependabot.yml
  .github/workflows/labeler.yml
  .github/workflows/production.yml
  .github/workflows/test-release.yml
  package.json
Labels: dependencies, automation

#720 chore(build): remove redundant matrix
  .github/workflows/test-release.yml
Labels: automation

#721 chore(build): add Dependabot for website packages
  .github/dependabot.yml
Labels: automation

#726 chore: run lint once for CI
  .github/workflows/development.yml
  .github/workflows/production.yml
Labels: automation

#735 chore(dependabot): correct quoting for prettier
  .github/dependabot.yml
Labels: automation

#725 refactor: move eslint config to type overrides
  .eslintignore
  .eslintrc.js
  .prettierignore
  parser-preset.js
  test/cli/formatters/junit.spec.js
Labels: test

#727 fix: clenaup non-functional typos
  README.md
  docs/user-guide/rules/input-requires-label.md
  docs/user-guide/rules/src-not-empty.md
  src/cli/htmlhint.ts
  src/core/rules/tags-check.ts
  test/core.spec.js
  test/rules/alt-require.spec.js
  test/rules/attr-lowercase.spec.js
  test/rules/attr-no-duplication.spec.js
  test/rules/attr-no-unnecessary-whitespace.spec.js
  test/rules/attr-sort.spec.js
  test/rules/attr-unsafe-chars.spec.js
  test/rules/attr-value-double-quotes.spec.js
  test/rules/attr-value-not-empty.spec.js
  test/rules/attr-value-single-quotes.spec.js
  test/rules/attr-whitespace.spec.js
  test/rules/doctype-first.spec.js
  test/rules/doctype-html5.spec.js
  test/rules/empty-tag-not-self-closed.spec.js
  test/rules/head-require.spec.js
  test/rules/head-script-disabled.spec.js
  test/rules/href-abs-or-rel.spec.js
  test/rules/html-lang-require.spec.js
  test/rules/id-class-ad-disabled.spec.js
  test/rules/id-class-value.spec.js
  test/rules/id-unique.spec.js
  test/rules/inline-script-disabled.spec.js
  test/rules/inline-style-disabled.spec.js
  test/rules/script-disabled.spec.js
  test/rules/space-tab-mixed-disabled.spec.js
  test/rules/spec-char-escape.spec.js
  test/rules/src-not-empty.spec.js
  test/rules/style-disabled.spec.js
  test/rules/tag-pair.spec.js
  test/rules/tag-self-close.spec.js
  test/rules/tagname-lowercase.spec.js
  test/rules/tagname-specialchars.spec.js
  test/rules/tags-check.spec.js
  test/rules/title-require.spec.js
Labels: core, cli, test

#722 chore(build): upgrade package-lock version for latest NPM
  package-lock.json
Labels: dependencies

#743 style: apply latest Prettier formatting
  commitizen.config.js
  package-lock.json
  package.json
  src/cli/htmlhint.ts
  src/core/htmlparser.ts
  src/core/rules/attr-unsafe-chars.ts
  src/core/rules/inline-script-disabled.ts
Labels: dependencies, core, cli

#744 chore: push @types/node-fetch to devDeps
  package-lock.json
  package.json
Labels: dependencies

#742 chore(release): fix release github
  .releaserc.json
  package.json
Labels: dependencies

#745 chore: upgrade husky hooks to v7
  .husky/.gitignore
  .husky/pre-commit
  .husky/prepare-commit-msg
  package-lock.json
  package.json
Labels: dependencies

#746 chore(node): upgrade to version 16.13.0
  .nvmrc
  package.json
Labels: dependencies

#749 chore(deps-dev): bump patch versions
  package-lock.json
  package.json
  src/cli/htmlhint.ts
Labels: dependencies, cli

#751 chore: upgrade ESLint to v8
  .eslintrc.js
  package-lock.json
  package.json
Labels: dependencies

#753 chore(deps-dev): bump minor versions
  package-lock.json
  package.json
Labels: dependencies

#756 build: correct resolve url and npm audit
  package-lock.json
Labels: dependencies

#752 chore: remove unused devDep pretty-quick
  package-lock.json
  package.json
Labels: dependencies

#755 chore(deps-dev): bump semantic-release packages
  .npmrc
  package-lock.json
  package.json
Labels: dependencies

#758 chore(deps-dev): bump commitlint
  package-lock.json
  package.json
Labels: dependencies

#750 chore: update lint-staged to v12
  package-lock.json
  package.json
Labels: dependencies

#759 chore(deps-dev): bump rollup packages
  package-lock.json
  package.json
Labels: dependencies

#763 chore(deps-dev): upgrade strip-json-comments package
  package-lock.json
  package.json
  src/cli/htmlhint.ts
Labels: dependencies, cli

#764 chore: increase Dependabot PR limit
  .github/dependabot.yml
Labels: automation

#767 fix: Revert "chore(deps-dev): upgrade strip-json-comments package"
  package-lock.json
  package.json
  src/cli/htmlhint.ts
Labels: dependencies, cli

#770 docs: create SECURITY.md
  SECURITY.md
  package-lock.json
Labels: dependencies

#769 build: move build to package scripts
  build-linux.sh
  build-windows.bat
  build.js
  package-lock.json
  package.json
Labels: dependencies

#771 chore: unpin remaining devDeps
  package-lock.json
  package.json
Labels: dependencies

#772 ci: fix codecov pr diff
  .github/workflows/development.yml
  .github/workflows/production.yml
  codecov.yml
  package.json
Labels: dependencies, automation

#768 chore(cli): upgrade commander to v8
  package-lock.json
  package.json
  src/cli/htmlhint.ts
Labels: dependencies, cli

#780 refactor(formatter): update order for @typescript-eslint/adjacent-overload-signatures
  .eslintrc.js
  src/cli/formatter.ts
Labels: cli

#779 refactor(htmlparser): remove unused variable for @typescript-eslint/no-unused-vars
  .eslintrc.js
  src/core/htmlparser.ts
Labels: core

#786 ci: ensure files are built
  .github/workflows/development.yml
  .github/workflows/production.yml
Labels: automation

#792 chore: setup CI for website
  .github/workflows/website.yml
  docs/toc.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: automation
