Repository htmlhint/HTMLHint, pull requests merged in 2021-09, with the labels that each got.

#663 chore: create dependabot.yml
  .github/dependabot.yml
Labels: automation

#670 fix(htmlhint.ts): replace deprecated request module with what-wg fetch
  bin/htmlhint
  package-lock.json
  package.json
  src/cli/htmlhint.ts
Labels: dependencies, cli

#683 chore(package.json): bump versions to fix `npm audit` vulnerabilities
  package-lock.json
  package.json
Labels: dependencies

#687 chore: Don't lock Prettier version in package.json
  package.json
Labels: dependencies
