Repository htmlhint/HTMLHint, pull requests merged in 2022-01, with the labels that each got.

#856 chore: remove commitlint direct devDep
  package-lock.json
  package.json
Labels: dependencies

#718 fix: fix the message for `attr-whitespace`
  src/core/rules/attr-whitespace.ts
Labels: core

#878 fix: correct links to rule docs
  dist/core/reporter.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  src/core/reporter.ts
  test/cli/formatters/json.json
Labels: core

#879 ci: retry coverage builds for flakey macOS runs
  .github/workflows/development.yml
  .github/workflows/production.yml
Labels: automation

#888 chore: update @typescript-eslint 5.10.0
  package-lock.json
  package.json
Labels: dependencies

#892 ci: timeout and filter cleanup
  .github/workflows/development.yml
  .github/workflows/production.yml
  jest.config.js
Labels: automation
