Repository htmlhint/HTMLHint, pull requests merged in 2024-07, with the labels that each got.

#1383 docs(tag-check): Add example and explain all options
  docs/user-guide/rules/tags-check.md
Labels: keep-unstale

#1452 Docs: Update doctype-html5 rule page
  docs/user-guide/rules/doctype-html5.md
Labels: documentation

#1453 Minor docs fixes
  .cspell.json
  .github/workflows/spellcheck.yml
  .gitignore
  .prettierignore
  .prettierrc.json
  CONTRIBUTING.md
  commitlint.config.js
  docs/user-guide/rules/href-abs-or-rel.md
  website/docusaurus.config.js
  website/static/img/site.webmanifest
Labels: automation
