Repository htmlhint/HTMLHint, pull requests merged in 2025-05, with the labels that each got.

#1530 Update Node Versions Supported (20, 22, 24)
  .github/dependabot.yml
  .github/workflows/development.yml
  .github/workflows/production.yml
  .nvmrc
  package-lock.json
  package.json
Labels: dependencies

#1531 Docs: typo fix dupplicate > duplicate
  .cspell.json
  CHANGELOG.md
Labels: documentation

#1533 chore(deps): bump prettier from 2.8.8 to 3.5.3
  dist/core/htmlparser.js
  package-lock.json
  package.json
  src/core/htmlparser.ts
Labels: dependencies

#668 feat(attr-sort): sort unknown attributes alphabetically
  dist/core/rules/attr-sorted.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  src/core/rules/attr-sorted.ts
  test/rules/attr-sorted.spec.js
Labels: keep-unstale, core, test

#1503 fix(tag-pair): point tag-pair error message to correct line and colum…
  dist/core/rules/tag-pair.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  src/core/rules/tag-pair.ts
  test/rules/tag-pair.spec.js
Labels: keep-unstale, core, test

#728 fix(idclassaddisabled): typo in default export name
  dist/core/rules/index.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  src/core/rules/index.ts
Labels: keep-unstale, core

#1538 chore: Add funding field to package.json
  package-lock.json
  package.json
Labels: dependencies

#1541 docs: badge update
  README.md
Labels: documentation

#1546 Update docusaurus to v3
  .cspell.json
  .github/dependabot.yml
  website/docs/toc.md
  website/docs/user-guide/configuration.md
  website/docs/user-guide/getting-started.mdx
  website/docs/user-guide/integrations/editor.md
  website/docs/user-guide/integrations/other.md
  website/docs/user-guide/integrations/task-runner.md
  website/docs/user-guide/list-rules.md
  website/docs/user-guide/rules/alt-require.md
  website/docs/user-guide/rules/attr-lowercase.md
  website/docs/user-guide/rules/attr-no-duplication.md
  website/docs/user-guide/rules/attr-no-unnecessary-whitespace.md
  website/docs/user-guide/rules/attr-sorted.md
  website/docs/user-guide/rules/attr-unsafe-chars.md
  website/docs/user-guide/rules/attr-value-double-quotes.md
  website/docs/user-guide/rules/attr-value-not-empty.md
  website/docs/user-guide/rules/attr-value-single-quotes.md
  website/docs/user-guide/rules/attr-whitespace.md
  website/docs/user-guide/rules/doctype-first.md
  website/docs/user-guide/rules/doctype-html5.md
  website/docs/user-guide/rules/empty-tag-not-self-closed.md
  website/docs/user-guide/rules/head-script-disabled.md
  website/docs/user-guide/rules/href-abs-or-rel.md
  website/docs/user-guide/rules/html-lang-require.md
  website/docs/user-guide/rules/id-class-ad-disabled.md
  website/docs/user-guide/rules/id-class-value.md
  website/docs/user-guide/rules/id-unique.md
  website/docs/user-guide/rules/inline-script-disabled.md
  website/docs/user-guide/rules/inline-style-disabled.md
  website/docs/user-guide/rules/input-requires-label.md
  website/docs/user-guide/rules/script-disabled.md
  website/docs/user-guide/rules/space-tab-mixed-disabled.md
  website/docs/user-guide/rules/spec-char-escape.md
  website/docs/user-guide/rules/src-not-empty.md
  website/docs/user-guide/rules/style-disabled.md
  website/docs/user-guide/rules/tag-pair.md
  website/docs/user-guide/rules/tag-self-close.md
  website/docs/user-guide/rules/tagname-lowercase.md
  website/docs/user-guide/rules/tagname-specialchars.md
  website/docs/user-guide/rules/tags-check.md
  website/docs/user-guide/rules/title-require.md
  website/docs/user-guide/usage/cli.md
  website/docs/user-guide/usage/options.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/plugins/docusaurus-plugin-hotjar/package.json
  website/plugins/docusaurus-plugin-hotjar/src/hotjar.js
  website/plugins/docusaurus-plugin-hotjar/src/index.js
Labels: documentation

#1550 chore: Use Package Lock v3
  .npmrc
  package-lock.json
  website/.npmrc
  website/package-lock.json
Labels: dependencies

#1552 chore: Add Super Linter GH Action
  .github/copilot-instructions.md
  .github/workflows/spellcheck.yml
  .github/workflows/super-linter.yml
  CHANGELOG.md
  website/docs/user-guide/integrations/task-runner.md
  website/docs/user-guide/list-rules.md
Labels: documentation

#1553 Docs: Update task-runners
  .cspell.json
  website/docs/user-guide/integrations/task-runner.md
Labels: documentation

#1555 fix: documentation test
  test/rules/documentation.spec.js
Labels: test

#1556 docs: Update tag-self-close page
  website/docs/user-guide/rules/tag-self-close.md
Labels: documentation

#1559 Change default branch from master to main
  .github/workflows/codeql-analysis.yml
  .github/workflows/development.yml
  .github/workflows/production.yml
  .github/workflows/spellcheck.yml
  .github/workflows/super-linter.yml
  .github/workflows/sync-labels.yml
  .github/workflows/test-release.yml
  .releaserc.json
  README.md
  website/docusaurus.config.js
Labels: documentation

#1562 Update Dev Dependencies
  package-lock.json
  package.json
Labels: dependencies

#1563 Update Dev Dependencies
  package-lock.json
  package.json
Labels: dependencies

#1565 Update Dependencies
  .eslintrc.js
  dist/cli/formatters/default.js
  dist/cli/formatters/markdown.js
  package-lock.json
  package.json
  src/cli/formatters/default.ts
  src/cli/formatters/markdown.ts
Labels: dependencies

#1566 GitHub Actions Publish Changes
  .cspell.json
  .github/semantic.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/production.yml
  .github/workflows/publish.yml
  .github/workflows/test-release.yml
  .github/workflows/test.yml
  .husky/.gitignore
  .husky/pre-commit
  .husky/prepare-commit-msg
  .releaserc.json
  commitizen.config.js
  commitlint.config.js
  package-lock.json
  package.json
Labels: dependencies

#1568 DevDep: Update Rimraf
  .github/codeql/codeql-config.yml
  package-lock.json
  package.json
Labels: dependencies

#1578 Docs: Update Changelog to point to website
  .github/workflows/website.yml
  CHANGELOG.md
Labels: documentation

#1579 Add `rel` to list of sorted attributes
  dist/core/rules/attr-sorted.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  src/core/rules/attr-sorted.ts
  test/rules/attr-sorted.spec.js
Labels: rule, test

#1581 Docs: Fix Edit Docs link
  website/astro.config.mjs
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  website/src/custom.css
Labels: documentation

#1583 Docs: Add robots.txt
  .prettierignore
  website/public/google8e0ad9a6a7436631.html
  website/public/robots.txt
  website/src/content/docs/getting-started.mdx
Labels: documentation

#1586 Docs: Add Security Headers
  netlify.toml
  website/public/img/htmlhint-vscode-extension.png
  website/src/content/docs/vs-code-extension.mdx
Labels: documentation

#1590 Create doctype-html5.mdx
  website/src/content/docs/rules/doctype-html5.mdx
Labels: documentation

#1593 Tests: Fix failing docs test
  .vscode/settings.json
  test/rules/documentation.spec.js
  website/.htmlhintrc
Labels: test

#1595 Docs: Add missing usage section from sidebar
  website/astro.config.mjs
  website/src/content/docs/usage/cli.md
  website/src/content/docs/usage/options.md
Labels: documentation

#1597 Docs: Minor fixes
  website/src/content/docs/configuration.md
  website/src/content/docs/rules/head-script-disabled.mdx
  website/src/content/docs/rules/inline-style-disabled.mdx
  website/src/content/docs/rules/tag-pair.mdx
  website/src/content/docs/rules/tagname-lowercase.mdx
  website/src/content/docs/usage/cli.md
Labels: documentation

#1599 cli: list rules alphabetically
  .github/copilot-instructions.md
  dist/cli/htmlhint.js
  src/cli/htmlhint.ts
  test/rules/href-abs-or-rel.spec.js
Labels: documentation, test

#1600 Tests: Remove console logs from tests
  .gemini/config.yaml
  test/cli/formatters/compact.spec.js
  test/cli/formatters/default.spec.js
  test/cli/formatters/unix.spec.js
Labels: test

#1601 Update Rollup
  dist/htmlhint.js
  dist/htmlhint.min.js
  package-lock.json
  package.json
  rollup.config.js
Labels: dependencies

#1605 feat: New rule: h1 require
  .cspell.json
  .eslintignore
  .github/copilot-instructions.md
  .prettierignore
  dist/core/rules/index.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  src/core/rules/h1-require.ts
  src/core/rules/index.ts
  test/rules/h1-require.spec.js
  website/src/content/docs/list-rules.md
  website/src/content/docs/rules/h1-require.mdx
  website/src/content/docs/rules/index.mdx
Labels: documentation, test

#1608 feat: new rule `main-require`
  dist/core/rules/index.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  src/core/rules/index.ts
  src/core/rules/main-require.ts
  src/core/types.ts
  test/rules/main-require.spec.js
  website/src/content/docs/configuration.md
  website/src/content/docs/list-rules.md
  website/src/content/docs/rules/index.mdx
  website/src/content/docs/rules/input-requires-label.mdx
  website/src/content/docs/rules/main-require.mdx
  website/src/content/docs/rules/script-disabled.mdx
  website/src/custom.css
Labels: documentation, rule, test

#1610 fix: `doctype-first` does not account for comments being permitted beforehand
  dist/core/rules/doctype-first.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  src/core/rules/doctype-first.ts
  test/rules/doctype-first.spec.js
  website/src/content/docs/rules/doctype-first.mdx
Labels: test

#1612 docs update
  website/src/content/docs/changelog.mdx
  website/src/content/docs/index.mdx
Labels: documentation
