Repository htmlhint/HTMLHint, pull requests merged in 2025-04, with the labels that each got.

#1521 fix: bump minimum Node.js to 18
  .github/workflows/development.yml
  .github/workflows/production.yml
  .nvmrc
  package-lock.json
  package.json
  website/package-lock.json
  website/package.json
Labels: dependencies, automation

#1520 chore: group Dependabot minor/patch updates
  .github/dependabot.yml
Labels: automation

#1430 Programatic use of linter - Update README.md
  README.md
Labels: documentation, keep-unstale

#1504 fix(spec-char-escape): remove ampersand from spec-char-escape
  docs/user-guide/rules/spec-char-escape.md
  src/core/rules/spec-char-escape.ts
  test/rules/spec-char-escape.spec.js
Labels: documentation, keep-unstale, core, test

#1526 Docs: Fix minor issues on README.md
  README.md
Labels: documentation

#1527 fix: Rebuild Dist
  dist/core/rules/spec-char-escape.js
  dist/htmlhint.js
  dist/htmlhint.min.js
  package-lock.json
  package.json
  test/cli/formatters/compact.spec.js
  test/cli/formatters/default.spec.js
  test/cli/formatters/unix.spec.js
Labels: dependencies, test
